h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}


.card {
    margin-bottom: 20px;
    box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.5);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 4px 4px 16px rgba(255, 0, 0, 0.8);
}

.card-header {
    background-color: #f7f7f7;
    font-weight: bold;
    padding: 10px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.edit-button {
    margin-top: 10px;
}
.navcard{
	margin-bottom: 20px;
    box-shadow: 2px 2px 6px rgba(255, 0, 0, 0.4);
}

.margenizqpu{
	margin-left: 15px;
}
